*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
.gradle/
build/
/captures/
.externalNativeBuild/

# Ignore Kotlin build folder
.kotlin_build/

# IntelliJ specific files
*.iws
*.ipr
*.idea/
out/

# Android Studio specific files
.idea
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/compiler.xml

# Keystore files
*.jks
*.keystore

